
.card-x {
    height: 350px;
    object-fit: cover;
}
.card-img-top {
    min-height: 300px;
    object-fit: cover;
}

.card-xd:hover {

            transform: scale(1.05);
        }
.div-img-detalle {
    max-height: 400px;
}

.img-detalle {
    object-fit: cover;
}



.card-categoria {
    min-height:150px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.card-categoria .card-title {
    text-decoration: none;
    color:white;
    font-size:40px;
    position: absolute;
    bottom:20px;
}
a {
    text-decoration: none;
}


.filter-categoria{
    background-image: linear-gradient(45deg, #fd0707, #000);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    opacity: 0.2;
    transition: all 0.5s;
}

.card-categoria:hover .filter-categoria{
    opacity: 0;
}

.menu-categorias a{
    text-decoration: none;
    color:black;
    font-weight:bold;
}


